:root {
    --col-first: #233142;
    --col-second: #455d7a;
    --col-third: #f95959;
    --col-fourth: #e3e3e3;

    --font-first: 'Exo 2', sans-serif;
    --font-second: 'Marcellus', serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 15vw auto;
    font-family: var(--font-first);
    color: var(--col-fourth);
}

.blur {
    filter: blur(7px);
}

.counter {
    display: grid;
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid var(--col-fourth);
    background-color: var(--col-third);
    color: var(--col-fourth);
    font-family: var(--font-first);
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-size: 0.7rem;
    font-weight: 900;
    box-shadow: 0 0 2px var(--col-fourth);
    text-shadow: 0 0 2px var(--col-fourth);
}

.no-visible {
    display: none;
}

#header {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    background-color: var(--col-first);
}

.logo {
    content: url(./favicon.svg);
    height: auto;
    width: 3rem;
    padding-left: 1rem;
}

.logo-text {
    vertical-align: baseline;
    font-family: var(--font-second);
    color: var(--col-third);
}

#side-bar,
#main {
    height: calc(100% - 9rem);
    padding-top: 5rem;
    padding-bottom: 4rem;
}


#side-bar {
    grid-column: 1 / 2;
    background-color: var(--col-second);
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    padding-left: 2rem;
    padding-right: 1rem;
    min-width: fit-content;
}

#side-bar button {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    text-align: left;
    color: var(--col-fourth);
    font-family: var(--font-second);
    font-size: 2em;
    margin: 5px;
}

button:hover {
    cursor: pointer;
}

.sidebar-list {
    font-size: 0.8rem;
    padding-left: 1rem;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 2rem;
}

#side-bar .label-name {
    font-family: var(--font-first);
    font-size: 1.6em;
    font-weight: 900;
    color: var(--col-fourth);
    margin: 0;
    margin-right: auto;
}

#side-bar .control,
.control {
    height: 1em;
    width: 1em;
    margin: 0;
    padding: 0;
    background: transparent;
    outline: 0;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.delete {
    background-image: url(./close-box-outline.svg);
}

.edit {
    background-image: url(./pencil-box-outline.svg);
}

.checked {
    background-image: url(./check-bold.svg);
}

.expand {
    height: max-content;
}

#main {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-list {
    width: 100%;
    height: 0;
    max-height: 100%;
}

#footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: var(--col-first);
    text-align: center;
    font-family: var(--font-first);
    color: var(--col-fourth);
    font-size: 1.2em;
}

.git-logo {
    content: url(./github.svg);
    height: 1em;
    width: auto;
    padding-left: 0.5em;
}

.git-logo:hover {
    opacity: 0.65;
    transform: translateY(0.15em);
    transition: 300ms;
}

#card-display {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-card {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr auto auto;
    gap: 5px;
    width: 30vw;
    height: fit-content;
    background-color: var(--col-first);
    padding: 1rem;
}

.task-card h3,
.task-card h4 {
    margin: 0;
    padding: 0;
}

.task-card h3 {
    font-size: 2rem;
    font-family: var(--font-second);
}

.task-card h4 {
    font-size: 1.0rem;
    align-self: center;
}

.task-card button {
    width: 2.2rem;
    height: 2.2rem;
}

.priority-indicator {
    background-color: red;
    width: 30%;
    grid-column: 2 / 4;
    border-radius: 3rem;
    justify-self: end;
    opacity: 0.8;
}

.date {
    grid-column: 2 / 4;
    position: relative;
    right: 0%;
    font-size: 1.0rem;
    align-self: center;
}

.checkbox {
    grid-column: 3 / 4;
    border: 3px solid var(--col-fourth);
    border-radius: 5px;
}

